body{
    background-color: blueviolet;
    font-size: 100%;
}
h2{
    text-align: left;
    text-decoration-color: aqua;
}
span{
color:red;
font-size: 50px;
}
.student {
    
font-family:  Courier;

}
#heading{
    background-color: blanchedalmond;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}